<div *ngIf="newsItem">
  <mat-card-title>{{newsItem.title}}</mat-card-title>
  <mat-card-subtitle>{{newsItem.category}}</mat-card-subtitle>
  <mat-card-content>{{newsItem.description}}</mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="gotoNews()" class="back-to-news">BACK</button>
  </mat-card-actions>
</div>
