<mat-card-title>News Form</mat-card-title>
<form [formGroup]="newsForm">
  <div>
    <mat-form-field>
      <input matInput placeholder="Title" value="" required formControlName="title">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <textarea
        matInput
        placeholder="Description"
        matTextareaAutosize
        matAutosizeMinRows="1"
        matAutosizeMaxRows="5"
        required
        formControlName="description"
      ></textarea>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-select
        placeholder="Category"
        class="category-select-field"
        required
        formControlName="category"
      >
        <mat-option *ngFor="let category of categories" [value]="category.value">
          {{ category.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</form>

<mat-card-actions>
  <button mat-button (click)="handleNewsCreate()" class="add-news-button">ADD</button>
  <button mat-button (click)="gotoNews()" class="back-to-news">BACK</button>
</mat-card-actions>
