<div class="example-header">
  <mat-select
    placeholder="Select category"
    class="category-select-field"
    (selectionChange)="onCategorySelectionChange($event)"
    [value]="queryParams.category"
  >
    <mat-option>--</mat-option>
    <mat-option *ngFor="let category of categories" [value]="category.value">
      {{ category.viewValue }}
    </mat-option>
  </mat-select>

  <button mat-button (click)="gotoForm()" class="add-new-button">ADD NEW</button>
</div>


<mat-table #table [dataSource]="news">

  <!-- Title Column -->
  <ng-container matColumnDef="title">
    <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <a [routerLink]="['/news', element.id]">{{element.title}}</a>
    </mat-cell>
  </ng-container>

  <!-- Category Column -->
  <ng-container matColumnDef="category">
    <mat-header-cell *matHeaderCellDef> Category </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.category}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>


</mat-table>


<mat-paginator
  #paginator
  [length]="totalNews"
  (page)="pageEvent = $event; onPaginateChange($event)"
  [pageSize]="queryParams.limit"
  [pageIndex]="queryParams.page - 1"
  [pageSizeOptions]="[5, 10, 20]"
>
</mat-paginator>
